@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


/* Corpo da página */
*{
    margin: 0;
    padding: 0;

}

body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    background-image: url(https://static.wixstatic.com/media/ea71bb_73e8260cc2ab466db7bae785fd4d5f3d.jpg/v1/fill/w_980,h_842,al_c,q_85,usm_0.66_1.00_0.01/ea71bb_73e8260cc2ab466db7bae785fd4d5f3d.webp); 
}

header{
    display: flex;
    justify-content: center;
    background: #006847b2;
    height: 16vh;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.76);
}

img{
    padding: 15px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    width: 500px;
    
}

/* .menu{
   display: none;
   cursor: pointer;
}

.menu div{
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

.listaNavegacao{
    list-style-type: none;
    display: flex;
}

.listaNavegacao li{
    padding-right: 0.8rem;
    letter-spacing: 2px;
    padding-left: 1rem;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;;
} */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.75);
    background: #006847b2;
}

p{
    color: #fff;
    padding: 15px;
}

@media (max-width: 680px) {
    body{
        overflow-x: hidden;
    }

    /* .listaNavegacao{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 45vw;
        height: 70vh;
        background: #006847;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        display: none;
    }

    .listaNavegacao li{
        margin-left: 0;
        opacity: 0;
    }

    .menu{
        display: block;
        margin-right: 15px;
    } */

    footer{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        align-items: center;
        position: absolute;
        bottom: 0;
        background-color: #006847;
        width: 100vw;
        height: 5vh;
        box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.75);
    }

    nav{
        width: 370px;
        background-size: 290px;
        display: flex;
        margin: 15px 65px 15px 25px;
        
    }
}
